<!-- navbar start -->
<header class="navbar navbar-dark navbar-fixed-top navbar-expand-lg bg-dark">

  <a class="navbar-brand" [routerLink]="['/']" (click)="navbarCollapsed = true">Veterum</a>

  <button class="navbar-toggler navbar-toggler-right" type="button" (click)="navbarCollapsed = !navbarCollapsed" [attr.aria-expanded]="!navbarCollapsed"
    aria-controls="navbarContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="navbar-collapse" [ngbCollapse]="navbarCollapsed" id="navbarContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item" [routerLinkActive]="['active']">
        <a class="nav-link" [routerLink]="['/home']" (click)="navbarCollapsed = true">Home</a>
      </li>
      <li class="nav-item" [routerLinkActive]="['active']">
        <a class="nav-link" [routerLink]="['/maps']" (click)="navbarCollapsed = true">Maps</a>
      </li>
      <li class="nav-item" [routerLinkActive]="['active']">
        <a class="nav-link" [routerLink]="['/about']" (click)="navbarCollapsed = true">About</a>
      </li>
    </ul>
  </div>
</header>
<!-- navbar end -->
